<div id="<%= dom_id balatro_card %>">
  <p>
    <strong>Name:</strong>
    <%= balatro_card.name %>
  </p>

  <p>
    <strong>Suit:</strong>
    <%= balatro_card.suit %>
  </p>

  <p>
    <strong>Chips:</strong>
    <%= balatro_card.chips %>
  </p>

  <p>
    <strong>Mult:</strong>
    <%= balatro_card.mult %>
  </p>

  <p>
    <strong>Xmult:</strong>
    <%= balatro_card.xmult %>
  </p>

  <p>
    <strong>Trigger count:</strong>
    <%= balatro_card.trigger_count %>
  </p>

  <p>
    <strong>Is debuffed:</strong>
    <%= balatro_card.is_debuffed %>
  </p>

</div>
