<p style="color: green"><%= notice %></p>

<%= render @balatro_card %>

<div>
  <%= link_to "Edit this balatro card", edit_balatro_card_path(@balatro_card) %> |
  <%= link_to "Back to balatro cards", balatro_cards_path %>

  <%= button_to "Destroy this balatro card", @balatro_card, method: :delete %>
</div>
