<div id="<%= dom_id balatro_hand_type %>">
  <p>
    <strong>Name:</strong>
    <%= balatro_hand_type.name %>
  </p>

  <p>
    <strong>Mult base:</strong>
    <%= balatro_hand_type.mult_base %>
  </p>

  <p>
    <strong>Mult increase:</strong>
    <%= balatro_hand_type.mult_increase %>
  </p>

  <p>
    <strong>Chip base:</strong>
    <%= balatro_hand_type.chip_base %>
  </p>

  <p>
    <strong>Chip increase:</strong>
    <%= balatro_hand_type.chip_increase %>
  </p>

</div>
