<p style="color: green"><%= notice %></p>

<%= render @balatro_hand_type %>

<div>
  <%= link_to "Edit this balatro hand type", edit_balatro_hand_type_path(@balatro_hand_type) %> |
  <%= link_to "Back to balatro hand types", balatro_hand_types_path %>

  <%= button_to "Destroy this balatro hand type", @balatro_hand_type, method: :delete %>
</div>
